/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/
.htaccess
.well-known/pki-validation/8D0B082038FCF3D10D91E9419BC223C3.txt
/app/Actions/error_log
/app/Console/error_log
/app/Exceptions/error_log
/app/error_log
/bootstrap/error_log
/config/error_log
/database/factories/error_log
/database/migrations/error_log
/database/seeds/error_log
error_log
phpinfo.php
/public/error_log

*.log