body {
  height: 100%;
  max-width: 7.5rem;
  margin: 0 auto !important;
  background-color: #f2f2f2;
  font: 400 14px/1.5 SF Pro Text, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
  
